@model TuCredito.Models.moneda

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la Moneda</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mon_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mon_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mon_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mon_pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.mon_codigo }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
